# Config file for CMSDATA (CMS Data Analyzer and Transfer Agent)

# If command is not specified the default value will be used
# The commands specifies values required to be met for a dataset to be suggested to be copied

# set_access : default = 400 
# Specifies the number of total accesses to one set

# time_frame : default = 72 
# Specifies the time frame in hours at which algorithm considers when making decisions

# budget : default = 100000
# Specifies the total amount of data in GB that can be subscribed. Once budget is reached a subscribed
# dataset have to be deleted.

set_access = 1000
time_frame = 72
budget = 100000